header,
h1,
h3 {
  text-align: center;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

li {
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  background-color: aqua;
  width: 300px;
  border: 1px solid rgb(42, 65, 209);
  flex-direction: column;
  display: flex;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  margin-bottom: 20px;
  transition: 0.9s;
}

img {
  height: 400px;
  border-radius: 20px;
}

li:hover {
  transition: 0.9s;
  background-color: black;
  color: white;
  width: 330px;
}
